:root {
    --primary-font-color: rgb(17, 27, 10);
    --body-font: 'Poppins', Berlin-Sans-FB;
    --header-bg: rgb(0, 39, 96);
    --h1-bg: rgb(35, 38, 97);
    --hero-bg: rgba(4, 17, 8, 0.85);
    --whit: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-font-color);
    max-height: 1000px;
}

header {
    background-color: var(--header-bg);
    color: var(--whit);
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
    z-index: 10;

}

header img {
    width: 120px;
    margin-left: 3rem;
    border-radius: 8px;
}

nav {
    display: flex;
    gap: 1.5rem;
    justify-self: center;
}

nav a {
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--whit);
    margin: 1rem 0 1rem 7rem;

}

header,
main,
footer {
    width: 1200px;
    margin-top: 0 auto;

}

main {
    margin-top: 50px;
}

h1,
h2 {
    text-align: center;
}

nav,
p,
section,
article {
    margin: 10px;
    padding: 2px;
}

.contact-layout {
    display: flex;
    gap: 0;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message-purpose {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border: none;
    /* optional: remove default fieldset border */
    padding: 0;
    margin: 1rem 0;
}

.message-purpose legend {
    font-weight: bold;
    min-width: 150px;
    /* left column width */
}

.purpose-options label {
    display: block;
    /* stack options vertically */
    margin-bottom: 0.4rem;
}

.map iframe {
    margin: 1rem 3rem;
    max-width: 500px;
    height: 400px;
}

.grid-section {
    display: grid;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.grid-section h2 {
    grid-column: 1/6;
    font-size: 2rem;
    margin-bottom: 20px;
}

.grid-section figure {
    margin: 0;
}

.grid-section img {
    height: 160px;
    width: 130px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.grid-section figcaption {
    margin-top: 5px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background-color: var(--header-bg);
    color: var(--whit);
    width: 100%;
    box-sizing: border-box;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 40px;
    background-color: var(--whit);
    border-radius: 8px;
}