* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    max-height: 1000px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    height: 120px;
    background-color: #232661;
    position: relative;
    z-index: 10;
}

header nav a {
    display: flex;
    background-color: #232661;
    color: white;
    margin: 0 12px;
    font-weight: bold;
    text-decoration: underline;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

main {
    margin-top: 50px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: #232661;
    color: white;

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    border: #232661 10px;
}

.hero {
    position: relative;
    z-index: 1;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 16px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hero article img {
    width: 80px;
    float: right;
    margin-left: 10px;
}

.socialmedia a {
    text-decoration: none;
}