:root {
    --background-color: #060a4b;
    --primary-font-color: #111B0A;
    --body-font: 'Poppins', Berlin-Sans-FB;
    --primary-color: #111B0A
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-font-color);
    max-height: 1000px;
}

header {
    background-color: #002760;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
    z-index: 10;

}

header img {
    width: 120px;
    margin-left: 3rem;
    border-radius: 8px;
}

nav {
    display: flex;
    gap: 1.5rem;
    justify-self: center;
}

nav a {
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    margin: 1rem 0 1rem 7rem;

}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;

}

main {
    margin-top: 0;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.7;
    background-color: #232661;
    color: white;
    font-size: 89px;
    font-family: 'Condiment', cursive;
}

nav,
p,
section,
article {
    margin: 10px;
    padding: 2px;
}

.history-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 22px;
}

.history-section h2 {
    grid-column: 1/4;
    text-align: center;
}

.history-section p:nth-of-type(1) {
    grid-column: 1 / 2;
}

.history-section img {
    grid-column: 2/3;
    width: 100%;
    border-radius: 8px;
}

.history-section p:nth-of-type(2) {
    grid-column: 3 / 4
}

.hero {
    position: relative;
    z-index: 1;
    color: white;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 8px;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(4, 17, 8, 0.85);
    padding: 16px;
    width: 1000px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    display: flex;
    text-align: center;

}

.hero-article-img {
    width: 130px;
    float: right;
    margin-left: 10px;
    border-radius: 8px;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    gap: 10px;
    text-align: center;
    padding: 20px;
}

.grid-section h2 {
    grid-column: 1/6;
    font-size: 2rem;
    margin-bottom: 20px;
}

.grid-section figure {
    margin: 0;
}

.grid-section img {
    height: 150px;
    width: 100%;
    display: block;
    border-radius: 8px;
}

.grid-section figcaption {
    margin-top: 5px;
    font-weight: bold;
}

.socialmedia a {
    text-decoration: none;
}