*,
* ::before,
*::after {
    box-sizing: border-box;
}

main {
    width: 700px;
    margin: 0 auto;
    background-color: #d3d3d3;
    padding: 1.25rem;
}

fieldset {
    border: 5px solid #6f0303;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1107a8;
    padding: 0 10px;
}

input,
select,
textarea {
    font-size: 1.25rem;
    margin: 5px 0;
    padding: 5px;
    width: 100%;

}

input:focus,
select:focus,
textarea:focus {
    outline: 3px solid #6f0303;
}

.code {
    background-color: #09033e;
    color: #f3f3f3;
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.number {
    font-weight: bold;
    font-size: 2rem;
    color: #6b0353;
    font-style: italic;
}

button {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: #024a0e;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}