table {
    border-collapse: collapse;
    /*set the borders together */
    border: 2px solid #8C8C8C;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 14px;
}

th,
tr,
td,
tfoot {
    border: 1px solid #8C8C8C;
    padding: 8px 10px;
}

thead th,
tfoot {
    background-color: black;
    color: white;
    font-weight: bold;

}