:root {
    --background-color: darkblue;
    --heading-text-color: white;
    --second-color: #333;
    --dark-border: black;
    --soft-border: rgb(0 0 0 / 0.2);

}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--dark-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--soft-border);
    padding: 1rem;
    background-color: #eee;
    color: var(--second-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--dark-border);
    text-align: center;
}