:root {
    --background-color: darkblue;
    --heading-text-color: white;
    --second-color: #333;
    --dark-border: black;
    --soft-border: rgb(0 0 0 / 0.2);

}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   



main {
    max-width: 840px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    float:  right;
    border: 1px solid var(--dark-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

aside {
    width: 20rem;
    margin: 1rem;
    position: relative;
    text-align: center;
}

aside img {
    width: 250px;
    height: auto;
    display: block;
    margin: 20px;
}

aside h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3;
    margin: 1rem;
 

}

p {
    padding: 0;
}

/* Class Selectors */

.box {
    border: 1px solid #b71234;
    padding: 1rem;
    background-color: #cccaca;
    color: #1a0442; 
    margin: 1rem;
    max-width: 650px;
    
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--dark-border);
    text-align: center;
}