.callout {
    max-width: 380px;
    margin: 10px;
    border: 1px solid rgb (0 0 0 / 0.1);
    padding: 15px;
    color: white;
    font-weight: 500;
    background-color: #304E85;
}

.callout img {
    float: right;
    margin: 2px 2px 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 100px;
    height: 100px;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: smaller;
}